
<!-- <div class="ui bottom attached segment pushable">
  <div class="ui inverted left vertical inline sidebar menu sidebar-menu">
    <a href="index.html" class="item">
      Products
    </a>
    <a href="postage-enquiry.html" class="item">
      Despatch Enquiry
    </a>
    <a href="consignment.html" class="item">
      Consignment
    </a>
  </div>
  <div class="pusher main-container">
    <div class="ui basic segment">
      <div class="ui segments">
        <div class="ui segment header-title">
          <h3 class="ui header">Product Result</h3>
        </div>
        <div class="ui secondary segment product-search-list">
          <div class="ui five column grid" id="product-display-grid">
              <div class="column" *ngFor="let product of products.hits">
                <div class="ui segment image-grid">
                  <img src="{{product._source.Images[0].ImageContent}}" style="height:140px;" />
                  <p class="ui thumb-details">{{product._source.Name}}</p>
                  <p class="ui thumb-details">{{product._source.OrderCode}}</p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->